<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/create-post.css">
  </head>

  <body class="single is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
      <%- include('../includes/navigation.ejs') %>
        <!-- Main -->
        <div id="main">
          <h1>
            <% if (editing) { %> Редактировать категорию <% } else { %> Добавить новую категорию <% } %>
          </h1>

          <form action="/admin/<% if (editing) { %>update-category<% } else {  %>create-category<% } %>" method="post"
            enctype="multipart/form-data" class="category-form">
             <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
            <% if (editing) { %>
              <input type="hidden" name="categoryId" value="<%=category.id%>">
              <% } %>

                <div>
                  <label for="title">Псевдоним категории</label>
                  <% if (aliases.length> 0) { %>
                    <% for (let alias of aliases) { %>
                      <input type="radio" id="<%= alias.name %>" name="aliasId" value="<%= alias.id %>" <% if (editing)
                        { %>checked<% } %> required />
                        <label for="<%= alias.name %>">
                          <%= alias.name %>
                        </label>
                        <% } %>
                          <% } else { %>
                            <h1>No Alias Found!</h1>
                            <% } %>

                </div>

                <div>
                  <label for="name">Название категории</label>
                  <input type="text" id="name" name="name" required
                    value="<% if (editing) { %><%= category.name %><% } %>" />
                </div>

                <div>
                  <label for="tagline">Подзаголовк категории</label>
                  <small>Краткое описание, слоган категории</small>
                  <input type="text" id="tagline" name="tagline" required
                    value="<% if (editing) { %><%= category.tagline %><% } %>" />
                </div>
                <div>
                  <label for="description">Описание категории</label>
                  <textarea id="description" name="description"
                    required><% if (editing) { %><%= category.description %><% } %></textarea>

                </div>

                <div>
                  <label for="image">Логотип</label>
                  <% if (editing) { %>
                    <div>
                      <img src="<%= category.image %>" alt="<%= category.title %>"
                        style="max-width: 300px; max-height: 300px;">
                    </div>
                    <% } %>
                      <div>
                        <input type="file" id="image" name="image" accept="image/*" />
                      </div>
                </div>

                <button type="submit" class="button large">
                  <% if (editing) { %> Обновить категорию <% } else { %> Добавить категорию <% } %>
                </button>
          </form>

          <% if (!editing) { %>
            <h1>Добавить новый алиас категории</h1>
            <small>Короткое название на английском языке</small>
            <form action="/admin/create-alias" method="post" id="create-alias" class="category-form">
              <input type="text" name="alias" id="alias" required minlength="2" placeholder="Добавить новый алиас">
              <button type="submit" id="create-alias" class="button default">
                Добавить
              </button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>

            <h1>Редактировать алиас</h1>
            <form action="/admin/edit-alias" method="post" id="edit-alias" >
              <div>
              <% for (let alias of aliases) { %>
                <input type="radio" name="aliasId" value="<%= alias.id %>" id="<%= alias.id %>-edit" data-name="<%= alias.name %>">
                <label for="<%= alias.id %>-edit"><%= alias.name %></label>
                <% } %>
                </div>

            <div id="updatedNameContainer" style="display: none;">
                  <label for="updatedName">Изменить навзвание алиаса</label>
                  <input type="text" name="updatedName" id="updatedName" value="" required >
                  <div>
                  <button type="submit" id="edit-alias" name="action" value="edit" class="button default">
                    Редактировать
                  </button>
                  <button type="submit" id="delete-alias" name="action" value="delete" class="button default"
                  onclick="return confirm('Вы уверены, что хотите удалить этот алиас?')">
                    Удалить
                  </button>
                  </div>
                </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>

            <% } %>
              <h3>Категории</h3>
              <ul class="exist-categories-list">
                <% if (categories.length> 0) { %>
                  <% for (let category of categories) { %>
                    <li>
                      <strong class="categories-list-item-name"><%= category.name %></strong>
                        <a href="/admin/edit-category/<%= category.id %>?edit=true" class="button default">Редактировать</a>
                      </li>
                    <% } %>
                      <% } %>
              </ul>
        </div>


    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

    <script>
  document.addEventListener('DOMContentLoaded', () => {
    const radioButtons = document.querySelectorAll('input[name="aliasId"]');
    const updatedNameContainer = document.getElementById('updatedNameContainer');
    const updatedNameInput = document.getElementById('updatedName');

    radioButtons.forEach(radio => {
      radio.addEventListener('change', () => {
        if (radio.checked) {
          updatedNameContainer.style.display = 'block';
          updatedNameInput.value = radio.dataset.name;
        }
      });
    });
  });
</script>
  </body>

  </html>