<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/assets/css/create-post.css">
  <meta name="csrf-token" content="<%= csrfToken %>">
  </head>

  <body class="is-preload">

     <% if(errorMessage && errorMessage.length> 0) { %>
            <div class="flash-message error" style="display: block">
                <%- errorMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>
                    <% if(successMessage && successMessage.length> 0) { %>
			<div class="flash-message success" style="display: block">
				<%= successMessage %>
					<span class="close-button">&times;</span>
			</div>
			<% } %>

    <!-- Wrapper -->
    <div id="wrapper">
      <%- include('../includes/navigation.ejs') %>
        <!-- Main -->
        <div id="main" class="single-main">

          <form action="/admin/<% if (editing) { %>update-category<% } else {  %>create-category<% } %>" method="post"
            enctype="multipart/form-data" class="category-form" id="create-category-form">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <% if (editing) { %>
              <input type="hidden" name="categoryId" value="<%=category.id%>">
              <% } %>
            
            <% if (!editing) { %>
                <div>
                  <fieldset>
                  <legend style="padding-bottom: 15px; font-size: 0.9em;"><strong>Псевдоним категории</strong></legend>
                  <% if (aliases.length> 0) { %>
                    <% for (let alias of aliases) { %>
                      <input type="radio" id="<%= alias.name %>" name="aliasId" value="<%= alias.id %>" <% if (editing)
                        { %>checked<% } %> required />
                        <label for="<%= alias.name %>">
                          <%= alias.name %>
                        </label>
                        <% } %>
                          <% } else { %>
                            <h1>No Alias Found!</h1>
                            <% } %>
                  </fieldset>
                </div>
              <% } %>

                <div>
                  <label for="name">Название категории</label>
                  <input type="text" id="name" name="name" required
                    value="<% if (editing) { %><%= category.name %><% } %>" />
                </div>

                <div>
                  <label for="tagline">Подзаголовк категории</label>
                  <small>Краткое описание, слоган категории</small>
                  <input type="text" id="tagline" name="tagline" required
                    value="<% if (editing) { %><%= category.tagline %><% } %>" />
                </div>
                <div>
                  <label for="description">Описание категории</label>
                  <textarea id="description" name="description"
                    required><% if (editing) { %><%= category.description %><% } %></textarea>
                </div>
                <div class="category-image">
                  <label for="image">Изображение</label>
                  <div class="image-img">
                      <% if (editing ) { %>
                        <img src="<%= category.image %>" alt="<%= category.title %>">
                      <% } else { %>
                        <img src="" alt="">
                      <% } %>
                  </div>
                  <div class="image-input">
                      <input type="file" id="image" name="image"
                          accept="image/*" />
                      <input type="hidden" name="imageDeleted" id="imageDeleted"
                          value="false">
                      <i class="bi bi-x-square" title="Удалить изображение"></i>
                  </div>
              </div>
                
          </form>
          <div class="edit-category-btns">
           
              <button type="submit" class="button large create-category-btn" form="create-category-form">
                  <% if (editing) { %> Обновить <% } else { %> Добавить категорию <% } %>
            </button>
           
               <% if (editing) { %>
              <button onclick="deleteCategory('<%= category.id %>')" class="button large delete-category-btn">
               Удалить <i class="bi bi-folder-x"></i>
              </button>
            <% } %>

          </div>

        </div>

        <section id="sidebar" class="create-category-sidebar">
          <section id="intro">
								<a href="#" class="logo"><img src="/images/logo.jpg" alt=""></a>
								<header>
									<h2><% if (editing) { %>Изменить категорию<% } else { %> Добавить новую категорию <% } %></h2>
								</header>
							</section>

							<!-- Mini Posts -->
              <% if (!editing) { %>
							<section >
								<div class="mini-posts categories">
              	<h3>Все категории</h3>
              <ul class="exist-categories-list">
                <% if (categories && categories.length> 0) { %>
                  <% for (let category of categories) { %>
                    <li>
                       <a href="/admin/edit-category/<%= category.id %>?edit=true">
                      <span class="categories-list-item-name"><%= category.name %></span>
                      <i class="bi bi-pencil-square"></i>
                      </a>
                    </li>
                  <% } %>
                <% } %>
              </ul>
            </div>
          </section>
          <% } %>

          <section >
                <% if (!editing) { %>
            <h1>Добавить новый алиас категории</h1>
            <small>Короткое название на английском языке</small>
            <form action="/admin/create-alias" method="post" id="create-alias" class="category-form">
              <input type="text" name="alias" id="alias" required minlength="2" placeholder="Добавить новый алиас">
              <button type="submit" form="create-alias" class="button default create-alias-btn">
                Добавить
              </button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <% } else { %>
              <h2><%= category.name %><br>(<%= categoryAlias %>)</h2>
              <% } %>
          </section>

							<!-- Alias Redact -->
                 <% if (!editing) { %>
							<section>
							 <h1>Редактировать алиас</h1>
            <form action="/admin/edit-alias" method="post" id="edit-alias" >
              <div>
              <% for (let alias of aliases) { %>
                <input type="radio" name="aliasId" value="<%= alias.id %>" id="<%= alias.id %>-edit" data-name="<%= alias.name %>">
                <label for="<%= alias.id %>-edit"><%= alias.name %></label>
                <% } %>
                </div>
                <% } %>
              
                <div id="updatedNameContainer" style="display: none;">
                  <label for="updatedName">Изменить навзвание алиаса</label>
                  <input type="text" name="updatedName" id="updatedName" value="" required >
                  <div>
                  <button type="submit" id="edit-alias" name="action" value="edit" class="button default">
                    Редактировать
                  </button>
                  <button type="submit" id="delete-alias" name="action" value="delete" class="button default"
                  onclick="return confirm('Вы уверены, что хотите удалить этот алиас?')">
                    Удалить
                  </button>
                  </div>
                </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
						</section>


</section>
    </div>



<%- include('../includes/main-scripts.ejs') %>

<script src="/assets/js/aliasHandler.js"></script>
<script src="/assets/js/category/categoryFormHandler.js"></script>
<script src="/assets/js/category/deleteCategoryHandler.js"></script>
<%- include('../includes/scripts.ejs') %>

