<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/badges.css">
</head>

<body class="posts-list">

    <% if(errorMessage && errorMessage.length> 0) { %>
    <div class="flash-message error" style="display: block">
        <%= errorMessage %>
            <span class="close-button">&times;</span>
    </div>
    <% } %>
            <% if(successMessage && successMessage.length> 0) { %>
    <div class="flash-message success" style="display: block">
        <%= successMessage %>
            <span class="close-button">&times;</span>
    </div>
    <% } %>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <!-- Menu -->
        <%- include('../includes/navigation.ejs') %>

            <!-- Main -->
            <div id="main">

                <!-- Post -->
                <% if (posts.length> 0) { %>
                    <% for (let post of posts) { %>
                        <article class="post page-preview">
                           
                            <header>
                                <div class="title">
                                    <h2><a href="/single/<%= post.id %>">
                                            <%= post.title %>
                                        </a></h2>
                                    <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="<%= post.createdAt %>">
                                        <%= formatDateOnly(post.createdAt) %>
                                    </time>
                                    <a href="/category/?category=<%= post.category.id %>" class="author category-post-logo"><span class="name">
                                            <%= post.category.name %>
                                        </span><img src="<%= post.category.image %>" alt="" /></a>
								</div>
                            </header>
                            <a href="/single/<%= post.id %>" class="image featured"><img src="<%= post.image %>" alt="" /></a>
                            <p class="post-preview">
                                <%- fixPrepositions(post.content) %>
                            </p>
                            
                            <footer>
                                <ul class="actions">
                                    <li><a href="/admin/edit-post/<%= post.id %>?edit=true" class="button large edit-btn">
                                        Редактировать <i class="bi bi-pencil-square"></i></a></li>
                                    <li>
                                       
                                             <button type="button" name="action" value="delete" class="button large delete-btn"
                                                onclick="deletePost(this)">
                                                Удалить <i class="bi bi-folder-x"></i>
                                            </button>
                                            <input type="hidden" value="<%= post.id %>" name="postId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                      
                                    </li>
                                </ul>
                                <ul class="stats">
                                    <li><a class="category" href="/category/?category=<%= post.category.id %>" data-category-id="<%= post.category.id %>">
                                            <%= post.category.name %>
                                        </a></li>
                                    <li><a class="icon solid fa-heart" data-id="<%= post.id %>"><%= post.likes %></a></li>
                                    <li><a href="/single/<%= post.id %>#comments" class="icon solid fa-comment"> <%= post.comment ? post.comment.length : 0 %></a></li>
                                </ul>
                            </footer>

                        </article>
                        <% } %>
                            <% } else { %>
                                <h1>No Posts Found!</h1>
                                <% } %>

			<%- include('../includes/pagination.ejs', {currentPage, hasNextPage, hasPreviousPage, nextPage, previousPage, lastPage, totalPages}) %>
                <!-- Pagination -->
            <ul class="actions pagination">
                <li><a href="?page=<%= previousPage %>" class="<%= hasPreviousPage ? '' : 'disabled' %> button large previous">Previous Page</a></li>
                <li><a href="?page=<%= nextPage %>" class="<%= hasNextPage ? '' : 'disabled' %> button large next">Next Page</a></li>
            </ul>

            </div>
            <!-- Sidebar -->
            <section id="sidebar">

                <!-- Intro -->
                <section id="intro">

                    <header>
                        <a href="#" class="logo"><img src="/images/logo.jpg" alt="" /></a>
                        <h2>Админ посты</h2>
                        <p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a>
                        </p>
                    </header>
                </section>

                <!-- Mini Posts -->
                <section>
                    <h3>Популярный пост в каждой категории</h3>
                    <div class="mini-posts">
                        <!-- Mini Post -->
                         <% if (topPostsByCategory.length > 0) { %>
                        <% for (let post of topPostsByCategory) { %>
                        <article class="mini-post">
                            <header>
                                <h3><a href="/posts/<%= post.id %>">
                                        <%= post.title %>
                                    </a></h3>
                                <div class="post-info">
                                    <time class="published" datetime="<%= post.createdAt %>">
                                        <%= formatDateOnly(post.createdAt) %>
                                    </time>
                                    <a href="/category/?category=<%= post.category.id %>" class="published category-link">
                                        <%= post.category.name %>
                                    </a>
                                    <a href="#" class="author"><img src="" alt="" /></a>
                                </div>
                            </header>
                            <a href="/posts/<%= post.id %>" class="image mini"><img class="img-mini"
                                    src="<%= post.image %>" alt="" /></a>
						</article>
                        <% } %>
                        <% } else { %>
                            Нет постов
                        <% } %>
                    </div>
                </section>

                <!-- Posts List -->
                <section>
                    <h3>Последний пост в каждой категории</h3>
                    <ul class="posts">
                        <% if(latestPostsByCategory.length > 0) { %>
                        <% for (let post of latestPostsByCategory) { %>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
                                    <time class="published" datetime="<%= post.createdAt %>"><%= formatDateOnly(post.createdAt) %></time>
                                </header>
                                <a href="/category/?category=<%= post.categoryId %>" class="image"><img src="<%= post.categoryImage %>" alt="" /></a>
                            </article>
                        </li>
                        <% } %>
                        <% } else { %>
                            <h3>No posts found!</h3>
                            <% } %>
                    </ul>
                </section>

                <!-- About -->
                <section class="blurb">
                    <h2>About</h2>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id
                        lorem euismod
                        amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed
                        ultricies.
                    </p>
                    <ul class="actions">
                        <li><a href="#" class="button">Learn More</a></li>
                    </ul>
                </section>



<%- include('../includes/footer.ejs') %>
<%- include('../includes/main-scripts.ejs') %>

<script src="/assets/js/post/adminPostHandler.js"></script>

<%- include('../includes/scripts.ejs') %>
