<!-- Pagination -->
<section class="second-pagination">
<% let paginationUrl =  '';
if (year) {
    paginationUrl += '&year=' + year;
} %>

<% if (hasPreviousPage) { %>
    <a href="?page=1<%= paginationUrl %>">&laquo;&laquo;</a>
    <a href="?page=<%= previousPage %><%= paginationUrl %>">&laquo;</a>
<% } %>

<% 
    const delta = 2; // количество страниц до и после текущей
    let startPage = Math.max(1, currentPage - delta);
    let endPage = Math.min(totalPages, currentPage + delta);
%>

<% if (startPage > 1) { %>
    <a href="?page=1<%= paginationUrl %>">1</a>
    <% if (startPage > 2) { %>
    <span>...</span>
    <% } %>
<% } %>

<% for (let i = startPage; i <= endPage; i++) { %>
    <% if (i === currentPage) { %>
    <a href="?page=<%= i %><%= paginationUrl %>" class="active"><%= i %></a>
    <% } else { %>
    <a href="?page=<%= i %><%= paginationUrl %>"><%= i %></a>
    <% } %>
<% } %>

<% if (endPage < totalPages) { %>
    <% if (endPage < totalPages - 1) { %>
    <span>...</span>
    <% } %>
    <a href="?page=<%= totalPages %><%= paginationUrl %>"><%= totalPages %></a>
<% } %>

<% if (hasNextPage) { %>
    <a href="?page=<%= nextPage %><%= paginationUrl %>">&raquo;</a>
    <a href="?page=<%= lastPage %><%= paginationUrl %>">&raquo;&raquo;</a>
<% } %>
</section>