<!-- Header -->
<header id="header">
    <h1><a href="/">The Everything Journal</a></h1>
    <nav class="links">
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Главная</a></li>
            <li><a class="<%= path === '/posts' ? 'active' : '' %>" href="/posts">Посты</a></li>
            <li><a class="<%= path === '/categories' ? 'active' : '' %>" href="/categories">Категории</a></li>
            <li><a class="<%= path === '/about' ? 'active' : '' %>" href="/about">О блоге</a></li>
            <li><a class="<%= path === '/archive' ? 'active' : '' %>" href="/archive">Архив</a></li>
            <% if(isAuthenticated && userRole==='admin' ) { %>
                <li><a class="<%= path === '/admin/create-post' ? 'active' : '' %>" href="/admin/create-post">Добавить
                        пост</a></li>
                <li><a class="<%= path === '/admin/create-category' ? 'active' : '' %>" href="/admin/create-category">Добавить
                        категорию</a></li>
                <li><a class="<%= path === '/admin/posts' ? 'active' : '' %>" href="/admin/posts">Админ посты</a></li>
                <% } %>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>
<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <% if(isAuthenticated) { %>
                <li>
                    <a href="/user/profile" class="<%= path === '/user/profile' ? 'active' : '' %>">
                        <h3 class="<%= path === '/user/profile' ? 'active' : '' %>">Профиль</h3>
                        <p>Sed vitae justo condimentum</p>
                    </a>
                </li>
                <% } %>
                    <li>
                        <a href="#">
                            <h3>FAQ / ЧаВо</h3>
                            <p>(часто задаваемые вопросы)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Соцсети / Сообщество</h3>
                            <p>Phasellus sed ultricies mi congue</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Политика конфиденциальности</h3>
                            <p>Porta lectus amet ultricies</p>
                        </a>
                    </li>
        </ul>
    </section>

    <% if(!isAuthenticated) { %>
        <!-- Actions -->
        <section>
            <ul class="actions stacked">
                <li><a href="/singin" class="button large fit">Войти</a></li>
                <li><a href="/register" class="button large fit">Регистрация</a></li>
            </ul>
        </section>
        <% } else { %>
            <section>
                <ul class="actions stacked">
                    <li>
                        <form action="/singout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="button large fit" id="logout-btn">Выйти</button>
                        </form>
                    </li>
                </ul>
            </section>
            <% } %>
</section>