<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Письмо от пользователя</title>
</head>
<body>
    <h3>Информация о пользователе:</h3>
    <p><strong>Логин:</strong> <%= name %></p>
    <p><strong>Имя:</strong> <%= firstname %></p>
    <p><strong>Фамилия:</strong> <%= lastname %></p>
    <p><strong>Email:</strong> <%= email %></p>
    
    <hr>

    <p><%= content %></p>

    <hr>

</body>
</html>