<%- include('../includes/head.ejs') %>
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper" class="edit-profile-wrapper">

            <!-- Header -->
            <!-- Menu -->
            <%- include('../includes/navigation.ejs') %>

                <!-- Main -->
                <div id="main">

                    <!-- Edit Profile -->
                    <section class="edit-profile">

                        <header>
                            <h2>Редактировать профиль</h2>
                        </header>
                        <div class="edit-profile-main">
                            <div class="edit-profile-avatar">
                                <div class="avatar-info">
                                <h1> <%= user.username %></h1>
                                <!-- Аватар -->
                                <span class="image featured">
                                    <img src="<%= profile.avatar %>" alt="Аватар пользователя"
                                        style="max-width: 150px; max-height: 150px;" />
                                </span>
                                </div>
                                <!-- Загрузка аватара -->
                                <div class="col-12">
                                    <p><strong>Загрузить новый аватар:</strong></p>

                                    <input type="file" form="edit-profile" name="avatar" id="avatar" accept="image/*" />
                                </div>
                            </div>
                            <div class="edit-profile-form">
                                <!-- Форма -->
                                <form method="post" action="/user/edit-profile" id="edit-profile"
                                    enctype="multipart/form-data">
                                    <div class="row gtr-50 edit-profile">

                                        <!-- Имя -->
                                        <div class="edit-profile-field">
                                            <label for="firstname">Имя</label>
                                            <input id="firstname" type="text" form="edit-profile" name="firstname" placeholder="Имя"
                                                value="<%= profile.firstname %>" />
                                        </div>

                                        <!-- Фамилия -->
                                        <div class="edit-profile-field">
                                             <label for="lastname">Фамилия</label>
                                            <input  id="lastname" type="text" name="lastname" placeholder="Фамилия"
                                                value="<%= profile.lastname ? profile.lastname : '' %>" />
                                        </div>

                                        <!-- Email (disabled) -->
                                        <div class="edit-profile-field">
                                             <label for="email">Email</label>
                                            <input id="email" type="email" name="email" value="<%= user.email %>" disabled />
                                        </div>

                                        <div class="user-info">
                                        <!-- Роль (readonly) -->
                                        <div class="col-12">
                                            <p><strong>Роль:</strong>
                                                <%= profile.role==='admin' ? 'Администратор' : 'Пользователь' %>
                                            </p>
                                        </div>

                                        <!-- Дата регистрации (disabled) -->
                                        <div class="col-12">
                                            <p><strong>Дата регистрации:</strong>
                                                <%= formatDate(user.createdAt) %>
                                            </p>
                                        </div>
                                        </div>
                                        <!-- Кнопка -->
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><button type="submit" class="button primary">Сохранить
                                                        изменения</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" form="edit-profile" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" form="edit-profile" name="profileId" value="<%= profile.id %>">
                                </form>
                            </div>
                        </div>
                    </section>


                </div>



<%- include('../includes/main-scripts.ejs') %>


<%- include('../includes/scripts.ejs') %>