<%- include('../includes/head.ejs') %>
    </head>

    <body class="auth">
        <% if(errorMessage && errorMessage.length> 0) { %>
            <div class="flash-message error" style="display: block">
                <%= errorMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>
       
                <!-- Wrapper -->
                <div id="wrapper" class="auth-wrapper">

                    <div id="main" class="auth single-main">
                        <h3>Обновление пароля</h3>
                        <form method="post" action="/new-password">
                            <div class="row gtr-uniform auth">
                             
                                <div class="col-8 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="Введите новый пароль"
                                        required>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="userId" value="<%= userId %>">
                                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                </div>

                                <div class="col-6">
                                    <ul class="actions auth">
                                        <li><input type="submit" value="Обновить пароль"></li>
                                    </ul>
                                </div>


                            </div>
                        </form>

                    </div>

                </div>


<%- include('../includes/main-scripts.ejs') %>

<script src="/assets/js/flashMessages.js"></script>
<%- include('../includes/scripts.ejs') %>
