<%- include('../includes/head.ejs') %>
  <!-- <link rel="stylesheet" href="/assets/css/create-post.css"> -->
  </head>

  <body class="profile is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
      <%- include('../includes/navigation.ejs') %>

        <!-- Main -->
        <div id="main">

          <!-- User Profile Card -->
          <article class="post">

            <header>
              <div class="title profile">
                <h2>
                  <%= profile.firstname %>
                    <% profile.lastname ? profile.lastname : '' %>
                </h2>
                <p>
                  <%= profile.user.email %>
                </p>
              </div>
            </header>
            <div class="profile-info">
              <div class="description">
                <p><strong>Имя:</strong>
                  <%= profile.firstname %>
                    <% profile.lastname ? profile.lastname : '' %>
                </p>
                <p><strong>Фамилия:</strong>
                  <%= profile.lastname ? profile.lastname : '' %>
                </p>
                <p><strong>Email:</strong>
                  <%= profile.user.email %>
                </p>
                <p><strong>Дата регистрации:</strong>
                  <%= formatDate(profile.user.createdAt) %>
                </p>
                <p><strong>Роль:</strong>
                  <%= profile.role==='admin' ? 'Администратор' : 'Пользователь' %>
                </p>
              </div>
              <div class="profile-avatar">
                <img src="<%= profile.avatar %>" alt="" class="avatar" />
              </div>
            </div>
            <footer>
              <ul class="actions">
                <li><a href="/user/edit-profile" class="button large">Редактировать профиль</a></li>
              </ul>
            </footer>
          </article>

          <article class="post profile">
            <article>
              <!-- Recent Posts Section -->
              <header>
                <h2>Моя последняя статья</h2>
              </header>
              <% if(lastPost) { %>
                <span class="image"><img src="/images/post1.jpg" alt="" /></span>
                <h3><a href="/posts/1">
                    <p>
                      <%= lastPost.title %>
                    </p>
                  </a></h3>
                <p>
                  <span class="image"><img src="<%= lastPost.image %>" alt="<%= lastPost.title %>"
                      style="width: 30%; height: 30%; min-width: 150px; " /></span>
                </p>
                <ul class="actions">
                  <li><a href="/posts/1" class="button">Читать далее</a></li>
                </ul>
                <% } else { %>
                  <h3>Нет добавленных статей</h3>
                  <% } %>
            </article>
          </article>


          <article class="post">
            <article>
              <header>
                <h2><a href="<%= comments.length <= 0 ? '#' : '/user/user-comments' %>">Комментарии</a></h2>
              </header>
              <% if(comments.length <=0) { %>
                <h3>Нет комментариев</h3>
                <% } %>
                  <% for (let comment of comments) { %>
                    <h3><a href="/single/<%= comment.post.id %>">
                        <%= comment.post.title %>
                      </a></h3>

                    <p>
                      <%= comment.text %>
                    </p>
                    <ul class="actions">
                      <li><a href="/user/user-comments" class="button">Редактировать</a></li>
                      <li><a href="/user/user-comments" class="button">Удалить</a></li>
                    </ul>
                    <% } %>
            </article>
          </article>
        </div>

        <!-- Sidebar -->
        <section id="sidebar">
          <section id="intro">

            <header>
              <a href="#" class="logo"><img src="/images/logo.jpg" alt=""></a>
              <h2>Профиль пользователя</h2>
              <p>Информация о вашем аккаунте</p>
            </header>
          </section>

          <section>
            <h3>Последние действия</h3>
            <ul class="plain">
              <% profile.useractivities.forEach(activity=> { %>
                <li><a href="#">
                    <%= activity.description %>
                  </a>
                  <br>
                  <small>
                    <%= formatDate(activity.createdAt) %>
                  </small>
                </li>
                <% }) %>

            </ul>
          </section>

          <%- include('../includes/end.ejs') %>