<%- include('../includes/head.ejs') %>
    </head>

    <body class="auth">
        <% if(errorMessage && errorMessage.length> 0) { %>
            <div class="flash-message error" style="display: block">
                <%= errorMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>

                <!-- Wrapper -->
                <div id="wrapper" class="auth-wrapper">

                    <div id="main" class="auth single-main">
                        <h3>Регистрация</h3>
                        <form method="post" action="/register" id="register-form" novalidate>
                            <div class="row gtr-uniform auth">
                                <div class="col-8 col-12-xsmall">
                                    <input 
                                     class="<%= validationErrors.find(e => e.path === 'username') ? 'invalid' : '' %>"
                                    type="text" name="username" id="singin-name" value="<%= oldInput.username %>" placeholder="Name"
                                        required>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input 
                                     class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
                                    type="email" name="email" id="singin-email" value="<%= oldInput.email %>" placeholder="Email"
                                        required>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input 
                                     class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
                                    type="password" name="password" id="register-password" value="<%= oldInput.password %>"
                                        placeholder="Password" minlength="3" required>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input 
                                     class="<%= validationErrors.find(e => e.path === 'repeatPass') ? 'invalid' : '' %>"
                                    type="password" name="repeatPass" id="repeat-password" value="<%= oldInput.repeatPass %>"
                                        placeholder="Повторите пароль">
                                </div>

                                <div class="col-12">
                                    <ul class="actions auth">
                                        <li><input type="submit" value="Зарегистрироваться"></li>
                                        <li><input type="reset" value="Reset"></li>
                                    </ul>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>

                                <p class="auth-helper register">
                                    Уже есть аккаунт ? <a class="auth-link" href="/singin">Войти</a>
                                </p>

                            </div>
                        </form>

                    </div>

                </div>


                <!-- Footer -->
                <section id="footer" class="auth">
                    <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a
                            href="http://unsplash.com">Unsplash</a>.</p>
                </section>

                </section>
                <!-- Scripts -->
                <script src="/assets/js/jquery.min.js"></script>
                <script src="/assets/js/browser.min.js"></script>
                <script src="/assets/js/breakpoints.min.js"></script>
                <script src="/assets/js/util.js"></script>
                <script src="/assets/js/main.js"></script>
                <script src="/assets/js/flashMessages.js"></script>

    </body>

    </html>