<%- include('../includes/head.ejs') %>
    </head>

    <body class="auth">
        <% if(errorMessage && errorMessage.length> 0) { %>
            <div class="flash-message error" style="display: block">
                <%= errorMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>
             <% if(successMessage && successMessage.length> 0) { %>
            <div class="flash-message success" style="display: block">
                <%= successMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>
                <!-- Wrapper -->
                <div id="wrapper" class="auth-wrapper">

                    <div id="main" class="auth single-main">
                        <h3>Сбросить пароль</h3>
                        <form method="post" action="/reset">
                            <div class="row gtr-uniform auth">
                             
                                <div class="col-8 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" required>
                                </div>
                                <div class="col-8 col-12-xsmall">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                </div>

                                <div class="col-6">
                                    <ul class="actions auth">
                                    
                                        <li><input type="submit" value="Восстановить пароль"></li>
                                        <li><a href="/singin" class="button default">Вернуться назад</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>



<%- include('../includes/main-scripts.ejs') %>

<script src="/assets/js/flashMessages.js"></script>
<%- include('../includes/scripts.ejs') %>
