

             
<%- include('../includes/head.ejs') %>
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <!-- Menu -->
            <%- include('../includes/navigation.ejs') %>


                   <!-- Main -->
                <div id="main">

                         <!-- Date Filter -->
                <section id="archive-filter" class="box">
                    <header>
                    </header>
                    <ul class="actions stacked archive-filter-list">
                        <li><a href="/archive?year=2025" class="button">2025</a></li>
                        <li><a href="/archive?year=2024" class="button">2024</a></li>
                        <li><a href="/archive?year=2023" class="button">2023</a></li>
                        <li><a href="/archive?year=2022" class="button">2022</a></li>
                        <li><a href="/archive?year=2021" class="button">2021</a></li>
                    </ul>
                </section>

                

                    <!-- Post -->
                    <% if (posts.length> 0) { %>
                        <% for ( post of posts ) { %>
                            <article class="post">
                                <header>
                                    <div class="title">
                                        <h2><a href="single.html">
                                                <%- fixPrepositions(post.title) %>
                                            </a></h2>
                                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                                    </div>
                                    <div class="meta">
                                        <time class="published" datetime="<%= post.createdAt %>">
                                            <%= formatDateOnly(post.dataValues.date) %>
                                        </time>
                                        <a href="#" class="author category-post-logo"><span class="name">
                                                <%= post.category.name %>
                                            </span><img src="<%= post.category.image %>" alt="" /></a>
                                    </div>
                                </header>
                                <a href="/single/<%= post.image %>" class="image featured"><img src="<%= post.image %>"
                                        alt="" /></a>
                                <p>
                                    <%= post.content %>
                                </p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="/single/<%= post.image %>" class="button large">Continue
                                                Reading</a>
                                        </li>
                                    </ul>
                                    <ul class="stats">
                                        <li><a href="#">
                                                <%= post.category.name %>
                                            </a></li>
                                        <li>
                                            <a href="#" class="like-icon icon solid fa-heart <%= isAuthenticated ? '' : 'not-hover' %> <%=post.likedUsers &&
                                                post.likedUsers.length> 0 ? 'active' : '' %>" data-id="<%= post.id %>">  
                                                    <%= post.likes %></a>
                                        </li>
                                        <li><a href="/single/<%= post.id %>#comments" class="icon solid fa-comment">
                                                <%= post.commentsCount || 0 %>
                                            </a>
                                        </li>
                                    </ul>
                                </footer>
                            </article>
                            <% } %>
                                <% } else { %>
                                    <h1>No Posts Found!</h1>
                                    <% } %>

                                        <!-- Pagination -->
                                        <ul class="actions pagination">
                                            <li><a href="" class="disabled button large previous">Previous Page</a></li>
                                            <li><a href="#" class="button large next">Next Page</a></li>
                                        </ul>

                </div>

                <!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                    <section id="intro">

                        <header>
                            <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
                            <h2>Архив</h2>
                            <p>Здесь — всё, что тебя вдохновит<br>Обо Всём, По-Настоящему</p>
                        </header>
                    </section>

                    <!-- Mini Posts -->
                    <section>
                        <div class="mini-posts">
                            <% if(categories.length> 0) { %>
                                <% for(let category of categories) { %>
                                    <!-- Mini Post -->
                                     <h3> <%- fixPrepositions(category.tagline) %></h3>
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="/category?cat=<%= category.id %>">
                                                    <%= category.name %>
                                                </a></h3>

                                        </header>
                                        <a href="/category?cat=<%= category.id %>" class="image"><img
                                                src="<%= category.image %>" alt="<%= category.title %>" /></a>
                                    </article>
                                    <% } %>
                                        <% } %>

                        </div>
                    </section>

                    <!-- Posts List -->
                    <section>
                        <h3>Здесь и сейчас</h3>
                        <ul class="posts">
                             <% if (posts.length> 0) { %>
                        <% for ( post of posts ) { %>
                            <li>
                               <article>
											<header>
												<h3><a href="/single/<%= post.id %>">
														<%- fixPrepositions(post.title) %>
													</a></h3>
											</header>
											<a href="/single/<%= post.id %>" class="image"><img src="<%= post.category.image %>"
													alt="<%= post.category.name %>" /></a>
										</article>
                            </li>
                               <% } %>
                                <% } %>
                        </ul>
                    </section>

                           <!-- About -->
                    <section class="blurb">
                        <h2>О блоге</h2>
                        <p> <%- fixPrepositions(`The Everything Journal — твой путеводитель по миру знаний, идей и
                                вдохновения.`) %></p>
                        <p> <%- fixPrepositions(` Здесь мы говорим обо всём: от кулинарии и путешествий до технологий и
                                программирования. `) %></p>

                        <p> <%- fixPrepositions(`Блог создан для тех, кто любит учиться, развиваться и интересуется
                                всем, что происходит вокруг. `) %></p>
                        <ul class="actions">
                            <li><a href="/about" class="button">Далее</a></li>
                        </ul>
                    </section>



<%- include('../includes/footer.ejs') %>
	<%- include('../includes/main-scripts.ejs') %>

	<script src="/assets/js/postHandler.js"></script>
    <%- include('../includes/scripts.ejs') %>