<%- include('../includes/head.ejs') %>
	</head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<!-- Menu -->
			<%- include('../includes/navigation.ejs') %>

				<!-- Main -->
				<div id="main">
					<!-- 
						<div class="flash-message success">
							<span class="close-button">&times;</span>
			
						</div>

								<div class="flash-message error">
									<span class="close-button">&times;</span>
					
								</div>
				 -->


					<!-- Post -->
					<% if (posts.length> 0) { %>
						<% for (let post of posts) { %>
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="/posts/<%= post.id %>">
												<%- fixPrepositions(post.title) %>
											</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="<%= post.createdAt %>">
											<%= formatDateOnly(post.createdAt) %>
										</time>
										<a href="#" class="author category-post-logo"><span class="name">
												<%= post.category.name %>
											</span><img src="<%= post.category.image %>" alt="" /></a>
									</div>

								</header>
								<a href="/posts/<%= post.id %>" class="image featured"><img src="<%= post.image %>"
										alt="" /></a>
								<p>
									<%- fixPrepositions(post.content) %>
								</p>
								<footer>
									<ul class="actions">
										<li><a href="/posts/<%= post.id %>" class="button large">Continue Reading</a>
										</li>
									</ul>
									<ul class="stats">
										<li><a href="#">
												<%= post.category.name %>
											</a></li>
										<li>
											<a href="#" class="like-icon icon solid fa-heart" <%=post.likedUsers &&
												post.likedUsers.length> 0 ? 'active' : '' %>" data-id="<%= post.id %>">
													<%= post.likes %></a>
										</li>
										<li><a href="/single/<%= post.id %>#comments" class="icon solid fa-comment">
												<%= post.commentsCount || 0 %>
											</a>
										</li>
									</ul>
								</footer>
							</article>
							<% } %>
								<% } else { %>
									<h1>No Posts Found!</h1>
									<% } %>

										<!-- Pagination -->
										<ul class="actions pagination">
											<li><a href="" class="disabled button large previous">Previous
													Page</a></li>
											<li><a href="#" class="button large next">Next Page</a></li>
										</ul>

				</div>

				<!-- Sidebar -->
				<section id="sidebar">

					<!-- Intro -->
					<section id="intro">
						<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
						<header>
							<h2>Тема Дня — Каждый День</h2>
							<p>Твой журнал обо всём важном и интересном</p>
						</header>
					</section>

					<!-- Mini Posts -->
					<section>
						<h3>Всё, Что Важно</h3>

						<div class="mini-posts">
							<% if (topPosts.length> 0) { %>
								<!-- <% posts.slice(0, 1) %> -->
								<% for (let post of topPosts) { %>
									<!-- Mini Post -->
									<article class="mini-post">

										<header>

											<h3><a href="single.html">
													<%= post.title %>
												</a></h3>
											<div class="post-info">
												<time class="published" datetime="<%= post.createdAt %>">
													<%= formatDateOnly(post.createdAt) %>
												</time>
												<a href="#" class="published category-link">
													<%= post.categoryName %>
												</a>

												<a href="#" class="author"><img src="" alt="" /></a>
											</div>
										</header>

										<a href="single.html" class="image mini"><img class="img-mini"
												src="<%= post.image %>" alt="" /></a>

									</article>
									<% } %>
										<% } else { %>
											<h1>No Posts Found!</h1>
											<% } %>

						</div>
					</section>

					<!-- Posts List -->
					<section>
						<h3>Мир Вокруг Нас</h3>

						<ul class="posts">
							<% if (randomPosts.length> 0) { %>
								<% for (let post of randomPosts) { %>
									<li>
										<article>
											<header>
												<h3><a href="single.html">
														<%- fixPrepositions(post.title) %>
													</a></h3>
												<!-- <time class="published" datetime="<%= post.createdAt %>">
													<%= post.categoryName %>
												</time> -->
												<!-- <a href="#" class="published"><%= post.categoryName %></a> -->
											</header>
											<a href="single.html" class="image"><img src="<%= post.categoryImage %>"
													alt="<%= post.categoryName %>" /></a>

										</article>
									</li>
									<% } %>
										<% } else { %>
											<h1>No Posts Found!</h1>
											<% } %>
						</ul>
					</section>

					<!-- About -->
					<section class="blurb">
						<h2>О блоге</h2>
						<p> <%- fixPrepositions(`The Everything Journal — твой путеводитель по миру знаний, идей и
								вдохновения.`) %></p>
						<p> <%- fixPrepositions(` Здесь мы говорим обо всём: от кулинарии и путешествий до технологий и
								программирования. `) %></p>

						<p> <%- fixPrepositions(`Блог создан для тех, кто любит учиться, развиваться и интересуется
								всем, что происходит вокруг. `) %></p>
						<ul class="actions">
							<li><a href="/about" class="button">Далее</a></li>
						</ul>
					</section>

					<%- include('../includes/end.ejs') %>