<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/assets/css/badges.css">
</head>

    <body class="is-preload"> 

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <!-- Menu -->
            <%- include('../includes/navigation.ejs') %>

                <!-- Main -->
                <div id="main">
                    <h1>Посты упорядоченные по дате добавления</h1>
                    <!-- Post -->
                    <% if (posts && posts.length> 0) { %>
                        <% for (let post of posts) { %>
                            <article class="post page-preview">
                                <header>
                                    <div class="title">
                                        <h2><a href="/posts/<%= post.id %>">
                                                <%- fixPrepositions(post.title) %>
                                            </a></h2>
                                        <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                                    </div>
                                    <div class="meta">
                                        <time class="published" datetime="<%= post.createdAt %>">
                                            <%= formatDateOnly(post.createdAt) %>
                                        </time>
                                        <a href="#" class="author category-post-logo"><span class="name">
												<%= post.category.name %>
											</span><img src="<%= post.category.image %>" alt="" /></a>
                                    </div>
                                </header>
                                <a href="/posts/<%= post.id %>" class="image featured"><img src="<%= post.cover %>"
                                        alt="" /></a>
                                <p>
                                    <%- fixPrepositions(post.content) %>
                                </p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="/posts/<%= post.id %>" class="button large">Continue Reading</a>
                                        </li>
                                    </ul>
                                    <ul class="stats">
                                        <li><a class="category" href="/category/?cat=<%= post.category.name %>"
                                                data-category="<%= post.category.name %>">
                                                <%= post.category.name %>
                                            </a></li>
                                        <li>
                                            <a href="#"
                                                class="like-icon icon solid fa-heart <%= isAuthenticated ? '' : 'not-hover' %> <%= post.likedUsers && post.likedUsers.length > 0 ? 'active' : '' %>"
                                                data-id="<%= post.id %>">
                                                <%= post.likes %>
                                            </a>
                                        </li>
                                        <li><a href="/single/<%= post.id %>#comments" class="icon solid fa-comment">
                                                <%= post.commentsCount || 0 %>
                                            </a></li>
                                    </ul>
                                </footer>
                            </article>
                            <% } %>
                                <% } else { %>
                                    <h1>No Posts Found!</h1>
                                    <% } %>

			    <%- include('../includes/pagination.ejs', {currentPage, hasNextPage, hasPreviousPage, nextPage, previousPage, lastPage, totalPages}) %>
                <!-- Pagination -->
                <ul class="actions pagination">
                    <li><a href="?page=<%= previousPage %>" class="<%= hasPreviousPage ? '' : 'disabled' %> button large previous">Предыдущая</a></li>
                    <li><a href="?page=<%= nextPage %>" class="<%= hasNextPage ? '' : 'disabled' %> button large next">Следующая</a></li>
                </ul>

                </div>
                <!-- Sidebar -->
                <section id="sidebar">

                    <!-- Intro -->
                    <section id="intro">
                        <header>
                            <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
                            <h2>Исследуем мир. Вместе.</h2>
                            <p>Читай Обо всём важном и интересном
                            </p>
                        </header>
                    </section>

                    <!-- Mini Posts -->
                    <section>
                        <div class="mini-posts">
                            <h1>Факты и Мысли</h1>
                            <p>Карточки самых популярных постов 3-5</p>
                            <% if(mostPopularPosts && mostPopularPosts.length > 0) { %>
                                <% for(let post of mostPopularPosts) { %>
                                    <!-- Mini Post -->
                                    <article class="mini-post">
                                        <header>
                                            <h3><a href="/category?cat=<%= post.categoryId %>">
                                                    <%= post.title %>
                                                </a></h3>
                                            <time class="published" datetime="<%= post.createdAt %>"><%= formatDateOnly(post.createdAt) %></time>
                                        </header>
                                        <a href="/single/<%= post.id %>" class="image"><img src="<%= post.image %>" alt="" /></a>
                                    </article>
                                <% } %>
                            <% } %>
                        </div>
                    </section>

                    <!-- Posts List -->
                    <section>
                        <h1>Интересное В Контексте</h1>
                        <ul class="posts">
                            <% if (randomPosts && randomPosts.length> 0) { %>
                                <% for (let post of randomPosts) { %>
                                    <li>
                                        <article>
                                            <header>
                                                <h3><a href="single.html"><%- fixPrepositions(post.title) %></a></h3>
                                                <time class="published" datetime="<%= post.createdAt %>"><%= formatDateOnly(post.createdAt) %></time>
                                            </header>
                                            <a href="single.html" class="image"><img src="<%= post.category.image %>"
                                                    alt="" /></a>
                                        </article>
                                    </li>
                                    <% } %>
                                        <% } %>
                        </ul>
                    </section>

                    <!-- About -->
					<section class="blurb">
						<h2>О блоге</h2>
						<p> <%- fixPrepositions(`The Everything Journal — твой путеводитель по миру знаний, идей и
								вдохновения.`) %></p>
						<p> <%- fixPrepositions(` Здесь мы говорим обо всём: от кулинарии и путешествий до технологий и
								программирования. `) %></p>

						<p> <%- fixPrepositions(`Блог создан для тех, кто любит учиться, развиваться и интересуется
								всем, что происходит вокруг. `) %></p>
						<ul class="actions">
							<li><a href="/about" class="button">Далее</a></li>
						</ul>
					</section>



<%- include('../includes/footer.ejs') %>
<%- include('../includes/main-scripts.ejs') %>

<script src="/assets/js/postHandler.js"></script>
<%- include('../includes/scripts.ejs') %>