<%- include('../includes/head.ejs') %>
    </head>

    <body class="single is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <!-- Menu -->
            <%- include('../includes/navigation.ejs') %>

                <!-- Main -->
                <div id="main">

                    <!-- Post -->
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2><a href="#">
                                        <%= post.title %>
                                    </a></h2>
                                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                            </div>
                            <div class="meta">
                                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                                <a href="#" class="author"><span class="name"><%= post.category.name %></span><img
                                        src="/images/avatar.jpg" alt="" /></a>
                            </div>
                        </header>
                        <span class="image featured"><img src="<%= post.image %>" alt="<%= post.title %>" /></span>
                        <p>
                            <%= post.content %>
                        </p>


                        <footer>
                            <ul class="stats">
                                <li><a href="#">General</a></li>
                                <li><a href="#" class="icon solid fa-heart">28</a></li>
                                <li><a href="#" class="icon solid fa-comment">128</a></li>
                            </ul>
                        </footer>

                        <!-- Comment Form -->
                        <section class="comment-form">
                            <header>
                                <h3>Оставить комментарий</h3>
                            </header>
                            <form method="post" action="/single/<%= post.id %>">
                                <div class="row gtr-50">
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="name" id="name" placeholder="Ваше имя" />
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <input type="email" name="email" id="email" placeholder="Ваш email" />
                                    </div>
                                    <div class="col-12">
                                        <textarea name="comment" id="comment" placeholder="Ваш комментарий" rows="6"
                                            required></textarea>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" value="Отправить" class="button" /></li>
                                        </ul>
                                    </div>
                                </div>
                                <input type="hidden" name="postId" value="<%= post.id %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                        </section>

                        <section class="post-comments" id="comments">
                            <% if (comments.length> 0) { %>
                                <h3>Комментарии (<%= comments.length %>)</h3>
                                <% for (let comment of comments) { %>
                                    <!-- Comment 1 -->
                                    <article>
                                        <header>
                                            <h3>Комментарий пользователя: <a href="/posts/42">
                                                    <%= comment.profile.user.username %>
                                                </a></h3>
                                            <time class="published" datetime="<%= comment.createdAt %>"><%= formatDate(comment.createdAt)%></time>
                                        </header>
                                        <p>
                                            <%= comment.text %>
                                        </p>
                                        <% if (comment.userId === userId) { %>
                                        <form action="/single/<%= post.id %>/<%= comment.id %>" method="post">
                                            <input type="hidden" name="commentId" value="<%= comment.id %>">
                                            <input type="hidden" name="postId" value="<%= post.id %>">
                                            <button type="submit">Удалить комментарий</button>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        </form>
                                        <% } %>
                                    </article>
                                    <% } %>
                                        <% } else { %>
                                            <h3>Нет комментариев</h3>
                                            <% } %>
                                                <!-- Comment 2 -->
                                                <article>
                                                    <header>
                                                        <h3>Комментарий к статье: <a href="/posts/37">10 ошибок при
                                                                посадке
                                                                помидоров</a></h3>
                                                        <time class="published" datetime="2025-06-30">30 июня
                                                            2025</time>
                                                    </header>
                                                    <p>Дополню: не стоит забывать про мульчирование — очень помогает
                                                        сохранить
                                                        влагу.</p>
                                                </article>

                                                <!-- Comment 3 -->
                                                <article>
                                                    <header>
                                                        <h3>Комментарий к статье: <a href="/posts/33">Секреты ухода за
                                                                орхидеями</a>
                                                        </h3>
                                                        <time class="published" datetime="2025-06-18">18 июня
                                                            2025</time>
                                                    </header>
                                                    <p>Спасибо! Теперь понимаю, почему раньше у меня опадали бутоны.</p>
                                                </article>

                                                <!-- Можно продолжать список по мере необходимости -->

                        </section>
                    </article>

                </div>

                <%- include('../includes/end.ejs') %>