<%- include('../includes/head.ejs') %>
    </head>

    <body class="single is-preload">
         <% if(errorMessage && errorMessage.length> 0) { %>
            <div class="flash-message error" style="display: block">
                <%= errorMessage %>
                    <span class="close-button">&times;</span>
            </div>
            <% } %>
                    <% if(successMessage && successMessage.length> 0) { %>
			<div class="flash-message success" style="display: block">
				<%= successMessage %>
					<span class="close-button">&times;</span>
			</div>
			<% } %>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <!-- Menu -->
            <%- include('../includes/navigation.ejs') %>

                <!-- Main -->
                <div id="main">

                    <!-- Post -->
                    <article class="post">
                        <header>
                            <div class="title">
                                <h2><a href="#">
                                        <%= post.title %>
                                    </a></h2>
                                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                            </div>
                            <div class="meta">
                                <time class="published" datetime="<%= post.createdAt %>">
                                    <%= formatDateOnly(post.createdAt) %>
                                </time>
                                <a href="#" class="author category-post-logo"><span class="name">
                                        <%= post.category.name %>
                                    </span><img src="<%= post.category.image %>" alt="" /></a>
                            </div>
                        </header>
                        <span class="image featured cover-single"><img src="<%= post.image %>"
                                alt="<%= post.title %>" /></span>
                        <div class="post-content">
                            <p>
                                <% if (post.gallery) { %>
                                    <span class="image left">
                                        <img src="<%= post.gallery[0] %>" alt="">
                                    </span>
                                    <% } %>
                                        <%- fixPrepositions(post.content) %>
                            </p>
                        </div>
                        <% if (post.gallery) { %>
                            <div class="box alt">
                                <div class="row gtr-uniform">
                                    <div class="col-12">
                                        <span class="image fit"><img src="<%= post.gallery[0] %>" alt=""></span>
                                    </div>
                                    <% for (let image of post.gallery) { %>
                                        <div class="col-4">
                                            <span class="image fit"><img src="<%= image %>" alt=""></span>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
                                <footer>
                                    <ul class="stats">
														<li><a href="#">
																<%= post.category.name %>
															</a></li>
														<li>
															<a href="#"
																class="like-icon icon solid fa-heart <%= isAuthenticated ? '' : 'not-hover' %>  <%= post.likedUsers && post.likedUsers.length > 0 ? 'active' : '' %>"
																data-id="<%= post.id %>">
																<%= post.likes %>
															</a>
														</li>
													
													</ul>
                                </footer>

                                <!-- Comment Form -->
                                <section class="comment-form">
                                    <header>
                                        <h3>
                                            <%= isAuthenticated ? 'Оставить комментарий'
                                                : 'Войдите чтобы оставить комментарий' %>
                                        </h3>
                                    </header>
                                    <form method="<%= isAuthenticated ? 'post' : 'get' %>"
                                        action="<%= isAuthenticated ? '/comment/'+ post.id : '/singin'  %>">
                                        <div class="row gtr-50">
                                            <% if(!isAuthenticated) { %>
                                                <div class="col-6 col-12-small">
                                                    <input type="email" name="email" id="email"
                                                        placeholder="Ваш email" />
                                                </div>
                                                <div class="col-12">
                                                    <ul class="actions">
                                                        <li><input type="submit" value="Войти" class="button" /></li>
                                                    </ul>
                                                </div>
                                                <input type="hidden" name="comment" value="true">
                                        <input type="hidden" name="postId" value="<%= post.id %>">


                                                <% } else { %>
                                                    <div class="col-12">
                                                        <textarea name="comment" id="comment"
                                                            placeholder="Ваш комментарий" rows="6" required></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <ul class="actions">
                                                            <li><input type="submit" value="Отправить" class="button" />
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <% } %>
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </form>
                                </section>

                                <section class="post-comments" id="comments">
                                    <% if (comments.length> 0) { %>
                                        <h3>Комментарии (<%= comments.length %>)</h3>
                                        <% for (let comment of comments) { %>
                                            <!-- Comment 1 -->
                                            <article>
                                                <header>
                                                    <h3><%= comment.user.profile.firstname %></h3>
                                                    <time class="published" datetime="<%= comment.createdAt %>">
                                                        <%= formatDate(comment.createdAt)%>
                                                    </time>
                                                </header>
                                                <p>
                                                    <%= comment.text %>
                                                </p>
                                                <% if (comment.userId===userId) { %>
                                                    <form action="/posts/<%= post.id %>/<%= comment.id %>"
                                                        method="post" id="delete-comment">
                                                        <button type="submit" id="delete-comment" name="action" value="delete" class="button default"
                                                            onclick="return confirm('Комментарий будет удален')">
                                                                Удалить комментарий
                                                        </button>
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    </form>
                                                   <% } %>
                                            </article>
                                            <% } %>
                                                <% } else { %>
                                                    <h3>Нет комментариев</h3>
                                                    <% } %>
                                                        <!-- Comment 2 -->
                                                        <article>
                                                            <header>
                                                                <h3>Комментарий к статье: <a href="/posts/37">10 ошибок
                                                                        при
                                                                        посадке
                                                                        помидоров</a></h3>
                                                                <time class="published" datetime="2025-06-30">30 июня
                                                                    2025</time>
                                                            </header>
                                                            <p>Дополню: не стоит забывать про мульчирование — очень
                                                                помогает
                                                                сохранить
                                                                влагу.</p>
                                                        </article>

                                                        <!-- Comment 3 -->
                                                        <article>
                                                            <header>
                                                                <h3>Комментарий к статье: <a href="/posts/33">Секреты
                                                                        ухода за
                                                                        орхидеями</a>
                                                                </h3>
                                                                <time class="published" datetime="2025-06-18">18 июня
                                                                    2025</time>
                                                            </header>
                                                            <p>Спасибо! Теперь понимаю, почему раньше у меня опадали
                                                                бутоны.</p>
                                                        </article>

                                                        <!-- Можно продолжать список по мере необходимости -->

                                </section>
                    </article>

                </div>

                <%- include('../includes/end.ejs') %>